<%= form_for(@temperatura) do |f| %>
  <% if @temperatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temperatura.errors.count, "error") %> prohibited this temperatura from being saved:</h2>

      <ul>
      <% @temperatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :valor %><br>
    <%= f.number_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
