<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @equipo.nombre %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @equipo.estatus %>
</p>

<%= link_to 'Edit', edit_equipo_path(@equipo) %> |
<%= link_to 'Back', equipos_path %>
